.container img{
    width: 300px;         
    }

.container{
    margin: 10px;
    background-color: #ececec ;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 5px 5px 10px rgb(189,189,189);
}
.container h3{
    color: black;
    margin: 30px 20px 20px;
    font-weight:bold;
}
.container p{
    margin: 0 25px 20px;
    background-color:blueviolet;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    color: white;
}
